@keyframes popUp {
  0% {
    transform: translate3d(0, -15px, 0) scale(0.97);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
}

@keyframes popOut {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -15px, 0) scale(0.97);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scaleUp {
  from {
    transform-origin: center;
    transform: translate(-50%, -50%) scale(0.95);
  }
  to {
    transform-origin: center;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes scaleDown {
  from {
    transform-origin: center;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform-origin: center;
    transform: translate(-50%, -50%) scale(0.95);
  }
}

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes hide {
  from {
    max-height: 0;
    transform-origin: bottom;
  }
  to {
    max-height: 0;
    transform-origin: bottom;
  }
}

@keyframes show {
  from {
    max-height: 0;
    transform-origin: bottom;
  }
  to {
    max-height: 375px;
    transform-origin: bottom;
  }
}
