.tk-dropdown {
  position: relative;
  height: 48px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 3px 4px rgba($color: #000000, $alpha: 0.08);
  & ~ * {
    box-sizing: border-box;
  }

  &.open {
    & .tk-dropdown-chevron {
      transform-origin: center;
      transform: rotate(180deg);

      &--line {
        background-color: $accentColor;
      }
    }
  }

  &-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .tk-dropdown-placeholder {
    color: $inactiveGray;
    position: absolute;
    left: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    pointer-events: none;
  }

  .tk-dropdown-title {
    position: relative;
    height: 48px;
    width: 100%;
    padding: 0 20px;
    background-color: $inactive;
    display: flex;
    align-items: center;
    outline: none;
    border-radius: 4px;
    color: $textColor;
    box-shadow: 0px 1px 5px rgba($color: #252629, $alpha: 0.03);
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    border: none;

    &.focused {
      box-shadow: 0 0 0 2px $accentColor;
    }

    &.error {
      box-shadow: 0 0 0 2px $danger;
    }

    &:focus {
      box-shadow: 0 0 0 2px $accentColor;
    }
  }

  .tk-dropdown-chevron {
    position: absolute;
    right: 23px;
    top: calc(50% - 6px);
    height: 12px;
    width: 9px;
    transition: 0.15s ease-in-out;

    &--line {
      width: 2px;
      height: 10px;
      position: absolute;
      top: 0;
      background-color: $gray;
      border-radius: 12px;
      &:nth-of-type(1) {
        transform: rotate(45deg);
        left: 0;
      }
      &:nth-of-type(2) {
        transform: rotate(-45deg);
        right: 0;
      }
    }
  }

  .tk-dropdown-search-container {
    position: sticky;
    top: 0;
    padding: 12px;
    border-bottom: 2px solid #f9fafc;
    background: white;
    width: 100%;
  }

  .tk-dropdown-search-input {
    outline: none;
    border: none;
    width: 100%;
    background: $secondaryGray;
    border-radius: 4px;
    height: 34px;
    padding: 0 12px;
    transition: all 0.25s ease-out;
    color: $textColor;

    &::placeholder {
      color: $gray;
    }

    &:focus {
      background-color: white;
      box-shadow: 0 0 0 2px $accentColor;
    }
  }

  .tk-dropdown-search-icon {
    position: absolute;
    right: 24px;
    top: 21px;
    user-select: none;
    pointer-events: none;
  }

  .tk-dropdown-list {
    position: relative;
    top: 5px;
    z-index: 2;
    max-height: 200px;
    overflow: auto;
    width: 100%;
    background-color: white;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 3px 4px rgba($color: #000000, $alpha: 0.08);
    transition: all 0.25s ease-out;

    option {
      cursor: pointer;
      list-style: none;
      padding: 16px 20px;
      transition: all 0.15s ease-out;
      outline: none;
      &:hover {
        background-color: $inactive;
      }
      &:focus {
        background-color: #ebebeb;
      }
      &[aria-selected="true"] {
        color: $accentColor;
      }
    }
  }

  .tk-dropdown-error {
    position: absolute;
    top: 115%;
    color: $danger;
    font-size: 14px;
    white-space: nowrap;
  }
}
