.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.custom-height {
    height: 375px;
  }

  &.full-height {
    flex: 1 1 auto;
  }
}

.loader-circle {
  width: 25px;
  height: 25px;
  margin: 0 10px;
  background-color: rgba($color: $accentColor, $alpha: 0.33);
  border-radius: 50%;
}

@for $i from 1 to 4 {
  .loader-circle:nth-child(#{$i}) {
    animation: blink 900ms ease #{400 * $i}ms alternate infinite;
  }
}

@keyframes blink {
  to {
    background-color: rgba($color: $accentColor, $alpha: 1);
    transform: scale(1.53);
  }
}
