.tk-modal {
  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
  }

  &__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
    border-radius: 4px;
    width: calc(100% - 40px);
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__body {
  }
}
