$inactive: #f9fafc;
$gray: #adaeaf;
$backgroundColor: #eff2f7;
$secondaryGray: #e0e6ed;
$inactiveGray: #909090;
$textColor: #383737;
$accentColor: #587ef5;
$danger: #ce4242;

@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("../fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("../fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("../fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  font-size: 16px;
}

#root {
  height: 100vh;
  display: flex;
  background-color: white;
}

main {
  padding: 80px 40px 40px;
}

aside {
  background: white;
  width: 275px;
  height: 100%;
  padding: 10px;
  background-color: $backgroundColor;
}

h3 {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 20px;
  font-weight: bold;
}
