$inactive: #f9fafc;
$gray: #adaeaf;
$backgroundColor: #eff2f7;
$secondaryGray: #e0e6ed;
$inactiveGray: #909090;
$textColor: #383737;
$accentColor: #587ef5;
$danger: #ce4242;

@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("../fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("../fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("../fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

div,
p,
button {
  font-weight: normal;
  font-size: 16px;
}

#root {
  height: 100vh;
  display: flex;
  background-color: white;
}

aside {
  background: white;
  width: 275px;
  height: 100%;
  padding: 10px;
  background-color: $backgroundColor;
}

main {
  flex: 1 0 auto;
  padding: 40px 80px;
}

h3 {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 20px;
  font-weight: bold;
}

@keyframes popUp {
  0% {
    transform: translate3d(0, -15px, 0) scale(0.97);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
}

@keyframes popOut {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -15px, 0) scale(0.97);
  }
}
