$inactive: #f9fafc;
$gray: #adaeaf;
$backgroundColor: #f8f8fa;
$secondaryGray: #e0e6ed;
$inactiveGray: #7b8a97;
$textColor: #383737;
$accentColor: #2169f6;
$danger: #ce4242;

@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("../fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("../fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("../fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

div,
p,
button {
  font-weight: normal;
  font-size: 16px;
}

#root {
  height: 100vh;
  display: flex;
  background-color: white;
}

aside {
  background: white;
  width: 275px;
  height: 100%;
  padding: 20px 12px;
  background-color: $backgroundColor;
}

main {
  flex: 1 0 auto;
  padding: 40px 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $textColor;
}

h3 {
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
}

li {
  list-style-type: none;
}

.tk-link {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  padding: 10px 18px;
  color: $textColor;
  text-decoration: none;
  z-index: 1;
  border-radius: 4px;
  transition: 0.35s;
  &:visited {
    color: $textColor;
  }
  &.active {
    color: white;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $accentColor;
      animation: slide-to-right 0.35s forwards;
      z-index: -1;
    }
  }
}

.tk-grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
