$inactive: #f9fafc;
$gray: #adaeaf;
$backgroundColor: #f8f8fa;
$secondaryGray: #e0e6ed;
$inactiveGray: #7b8a97;
$textColor: #383737;
$accentColor: #2169f6;
$danger: #ce4242;

@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("../fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("../fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("../fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

div,
p,
button {
  font-weight: normal;
  font-size: 16px;
}

#root {
  height: 100vh;
  display: flex;
  background-color: white;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 275px;
  height: 100%;
  padding: 20px 12px;
  background-color: $backgroundColor;
}

main {
  flex: 1 0 auto;
  padding: 40px 80px;
  margin-left: 275px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $textColor;
}

h3 {
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
}

li {
  list-style-type: none;
}

.tk-link {
  display: block;
  width: 100%;
  padding: 10px 18px;
  color: $textColor;
  text-decoration: none;
  transition: 0.35s;
  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    transparent 50%,
    $accentColor 50%
  );
  background-position: 0 0;
  border-radius: 4px;
  &.active {
    color: white;
    background-position: -100% 0;
  }
}

.tk-grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
